# 02장 되새김 문제

## Q1. 평균 점수 구하기
홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해보자.
| 과목 | 점수 |
|-----------|-----------|
| 국어 | 80 |
| 영어 | 75 |
| 수학 | 55 |

In [ ]:
kor = 80
eng = 75
math = 55

avg = (kor + eng + math) / 3
print(avg)

## Q2. 홀수, 짝수 판별하기
자연수 13이 홀수인지, 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

In [ ]:
# 홀수와 짝수는 2로 나눴을 때의 나머지가 1인지 0인지에 따라 판별할 수 있다.
def is_odd(num):
    if num % 2 == 0:
        print("짝수")
    else:
        print("홀수")

num = int(input("13 입력하실거죠?"))
is_odd(num)

## Q3. 주민등록번호 나누기
홍길동 씨의 주민등록번호는 881120-1068234 이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.
> 문자열 슬라이싱 기법을 사용해보자.

In [ ]:
pin = '881120-1068234'

yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd, num)

def prefix_yy(num, yyyymmdd):
    id = int(num[0])
    if (id == 1) | (id == 2):
        yyyymmdd = "19" + yyyymmdd
    elif (id == 3) | (id == 4):
        yyyymmdd = "20" + yyyymmdd
    else:
        print("?")
    return yyyymmdd


print(f"연월일: {prefix_yy(num, yyyymmdd)}")
print(f"숫자: {num}")

## Q4. 주민등록번호 인덱싱
주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.
> 문자열 인덱싱을 사용해 보자.

In [ ]:
pin = '881120-1068234'

print(pin[7])

## Q5. 문자열 바꾸기
다음과 같은 문자열 a:b:c:d 가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d 로 바꿔 출력해 보자.

In [ ]:
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

## Q6. 리스트 역순 정렬하기
[1,3,5,4,2] 리스트를 [5,4,3,2,1]로 만들어 보자.
> 리스트의 내장 함수를 사용해 보자.

In [ ]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

## Q7. 리스트를 문자열로 만들기
### ❎ join 함수 사용법 까먹지 말자!!
['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.
> 문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.

In [ ]:
a = ['Life', 'is', 'too', 'short']
result = (' ').join(a)
print(result)

## Q8. 튜플 더하기
(1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4) 를 만든 후 출력해 보자.
> \+ 연산을 사용해 보자.

In [ ]:
a = (1,2,3)
print("변경 전 주소 값:", id(a))

a = a + (4,)
print("변경 후 주소 값:", id(a))
print(a)

## 이 때 a의 값이 변경되는 것이 아니다
## ⭐️⭐️⭐️ 튜플은 그 값을 변경할 수 없다
## 새로운 튜플이 생성된 뒤, 그 값이 a 변수에 대입되는 것 << 주소 값을 통해 확인 할 수 있다

## Q9. 딕셔너리의 키
다음과 같은 딕셔너리 a가 있다.
```python
a = dict()
a
```

다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

```python
a['name'] = 'python'
a[('a', )] = 'python'
a[[1]] = 'python'
a[250] = 'python'
```

In [ ]:
a = dict()
print(a)

a['name'] = 'python'
a[('a', )] = 'python'
## ⭐️⭐️⭐️ 키의 특성:
a[[1]] = 'python'
a[250] = 'python'

```bash
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[24], line 6
      4 a['name'] = 'python'
      5 a[('a', )] = 'python'
----> 6 a[[1]] = 'python'
      7 a[250] = 'python'

TypeError: unhashable type: 'list'

```

딕셔너리의 키로 변하는 값을 사용할 수 없기 때문에 오류가 난다.
리스트 [1]은 값이 변할 수 있으므로 나는 오류이다.

## Q10. 딕셔너리 값 추출하기
딕셔너리 a 에서 'B'에 해당하는 값을 추출해 보자.
a = {'A' : 30, 'B' : 80, 'C' : 70}
> 딕셔너리의 pop 함수를 사용해 보자.

In [25]:
a = {'A' : 30, 'B' : 80, 'C' : 70}
result = a.pop('B')
print(a)            # 'B'키에 해당되는 값은 제거됨
print(result)       # 'B'키의 값이 반환됨

{'A': 30, 'C': 70}
80

## Q11. 리스트에서 중복 제거하기
> 집합 차료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.

In [ ]:
a = [1, 1, 1, 2, 2, 3, 3, 4, 4, 5]

aSet = set(a)               # a 리스트를 집합 자료형으로 변환

b = list(aSet)              # 집합 자료형을 리스트 자료형으로 다시 변환

print(b)

## Q12. 파이썬 변수
파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다.
다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까?
그리고 이런 결과가 나타나는 이유를 설명해 보자.

```python
a = b = [1,2,3]
a[1] = 4
print(b)
```

In [ ]:
a = b = [1,2,3]

a[1] = 4

print(b)

## b 또한 b[1] = 4 인 것을 확인할 수 있다.
## a, b 모두 동일한 리스트 객체를 가리키고 있기 때문이다.